<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<div th:replace="/fragments/head.html::fragment-head"></div>
<body>
    <form action="/register" method="post">
        <div>
            <p>username</p>
            <input type="text" name="email">
        </div>
        <div>
            <p>password</p>
            <input type="text" name="password">
        </div>
        <input type="submit" value="submit">
        <button onclick="location.href='/'">back</button>
    </form>
</body>
</html>